<%= form_for(@performance) do |f| %>
  <% if @performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @performance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Your company's name:" %><br />
    <%= f.text_field :company, :size => 50 %>
  </div>
  <div class="field">
    <%= f.label "Your name:" %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label "Your e-mail address:" %><br />
    <%= f.text_field :customer_email %>
  </div>
  <div class="field">
    <%= f.label "The name of your event as you'd like it to appear online:" %><br />
    <%= f.text_field :name, :size => 100 %>
  </div>
  <div class="field">
    <table>
      <tr>
        <td><%= f.label "What date and time does the event start?" %></td>
        <td><%= f.label "What date and time does the event end?" %></td></tr>
      <tr>
        <td><%= f.text_field :perf_startstr, :class => "field1", :value => "#{Date.today.strftime("%m/%d/%Y")} at 5:00 PM" %></td>
        <td><%= f.text_field :perf_endstr, :class => "field1", :value => "#{Date.today.strftime("%m/%d/%Y")} at 9:00 PM" %></td></tr>  
        <tr><td>
        	        <!-- AnyTime testing-->

<script>
  $(".field1").AnyTime_picker(
    { format: "%m/%d/%z at %h:%i %p" } );
</script>
		</td></tr>    
    </table>
  </div>
  <div class="field">
  	<label for="delivery instructions"><u>Select the delivery methods you would like available to your buyers:</u></label><br />
  	<table style="center;">
      <tr>
        <td><%= f.label "Mail delivery?" %></td>
        <td><%= f.label "Will Call delivery?" %></td>
        <td><%= f.label "Print@Home delivery?" %></td></tr>
      <tr>
        <td><%= f.check_box :mail %></td>
        <td><%= f.check_box :willcall %></td>      
        <td><%= f.check_box :willcall %></td></tr>
    </table>
  </div>
  <div class="field">
    <%= f.label "Describe the event (no pricing):" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "How many differently priced areas are there for REGULAR ADULT tickets? What is the name and price for each area?" %><br />
    <span class="small" style="font-style:italic;">Example: Main section is $25 and VIP section is $50.</span><br />
	<%= f.text_area :areas %>
  </div>
  <div class="field">
    <%= f.label "Are any discounts available, like child or senior prices? Please indicate any discounts and the areas they are available in:" %><br />
    <%= f.text_area :discounts %>
  </div>
  <div class="field">
    <%= f.label "Should the price ever change automatically, like an increase the day of the show?" %><br />
    <%= f.text_field :pricechanges, :size => 100 %>
  </div>
    <br /> <br />
  <div>
  <table style="border: solid; padding: 1em; width:60%;">
    <tr>
      <td><p class="small">This area will be hidden unless you're logged in:</p></td>
    </tr>
    <tr>
      <td><div class="field">
       <%= f.label :built %><br />
       <%= f.check_box :built %>
      </div></td>
      <td><div class="field">
       <%= f.label :proofsent %><br />
       <%= f.check_box :proofsent %>
      </div></td>
    </tr>
    <tr>
     <td><div class="field">
      <%= f.label :proofapproved %><br />
      <%= f.check_box :proofapproved %>
     </div></td>
     <td><div class="field">
      <%= f.label :onsale %><br />
      <%= f.check_box :onsale %>
     </div></td>
   </tr>
   </table>
   </div>
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>
