<h1 style="font-style:italic;">Event Administration</h1>
<br />
<table>
  <tr>
    <th>Company</th>
    <th>Customer</th>
    <th>Name</th>
    <th>Showtime</th>
    <th>Built</th>
    <th>ProofSent?</th>
    <th>ProofApproved?</th>
    <th>Onsale</th>
  </tr>

<% @performances.each do |performance| %>
  <tr class="small">
    <td><%= performance.company %></td>
    <td><%= performance.customer %></td>
    <td><%= performance.name %></td>
    <td><%= performance.perf_start %></td>
    <td><%= performance.built %></td>
    <td>
	  <% if performance.proofsent? then %><span class="notice">Sent</span><% else %><span class="error">Not Sent</span><% end %></td>
    <td>
	  <% if performance.proofapproved? then %><span class"notice">Approved!<span><% else %><span class="error">Not Approved</span><%end%></td>
    <td><%= performance.onsale %></td>
    <td><%= link_to 'Show', performance %></td>
    <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
    <td><%= link_to 'Destroy', performance, :confirm => 'Permanently delete this event from the system?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Performance', new_performance_path %>
